#--------------------------------#
### Generic cache operative systems
#--------------------------------#
# Windows
Desktop.ini
Thumbs.db
$RECYCLE.BIN
*.lnk

# MacOS
__MACOSX
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions*
.fseventsd
.Spotlight*
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#--------------------------------#
### Backups, logs, etc
#--------------------------------#
*.tgz
*.log

#--------------------------------#
### JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
#--------------------------------#
*.iml
.idea/
*.ipr
*.iws

#--------------------------------#
## Config quality code
#--------------------------------#
.eslintrc.js
.php-cs-fixer.php
.phpcs.xml
.prettierrc
.phpstan.neon
.psalm.xml
.rector.php
.eslintcache
.php-cs-fixer.cache
.phpcs-cache
.gherkin-lintrc

#--------------------------------#
# Symfony
#--------------------------------#

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/docker/mysql/data
.idea
composer.lock
/symfony.lock
###< symfony/framework-bundle ###

/.docker/environment_configs_container/RrhhApp/.env.rrhhaap.local

### Docker
.docker/docker-compose.yml

### PHPUnit / Testing
.phpunit
.phpunit.result.cache
/.phpunit.cache/
phpunit.xml
behat.yaml

### Enviorements Parameters
.env.local
.env.local.php
.env.*.local

### Composer Shared Tools
/.tools/bin/
/.tools/vendor/


### Var: Cache, logs, spool, sessions
/app/*/*/var/cache/*
/app/*/*/var/log/*
/app/*/*/var/sessions/*
/app/*/*/var/spool/*
!/app/*/*/var/cache/.gitkeep
!/app/*/*/var/log/.gitkeep
!/app/*/*/var/sessions/.gitkeep
!/app/*/*/var/spool/.gitkeep

### Assets and user uploads
/app/*/*/public/assets/
/app/*/*/public/builds/
/app/*/*/public/build/
/app/*/*/*/public/bundles/
/app/*/*/public/uploads/
/app/*/*/public/media/

### Builds
/app/*/*/build/
/build

### Others
/app/*/fixtures/

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/app/*/*/var/cache/.gitkeep
/app/*/*/var/log/.gitkeep

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/bin/phpunit
